img1 {
    border-radius: 50%;
  }
   h1 {
    text-decoration: font-size;
  }
  h2 {
    text-decoration: underline;
  }
  img {
    text-align: left;
  }
}
p2 {
 text-decoration: font-size;
}
p1 {
    text-align: center;
  }